{% extends 'planning/base.html' %}
{% load static %}

{% block header %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Manage Finance</a>
            <a class="navbar-text" href="#">Play</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</nav>
{% endblock %}


{% block content %}
<div class="container">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Application</h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <form action="#" method="post" class="form-group">

            <div class="col-md-8 col-md-offset-2 margin-top-15">
                <p><b>Macro category</b></p>
                <select class="form-control input-50-perc" name="macroarea">
                    <option selected disabled>-- choose category --</option>
                    {% for model in list_macrocategory%}
                    <option value="{{ model }}">{{model}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-8 col-md-offset-2 margin-top-15">
                <p><b>Sub Category</b></p>
                <select class="form-control input-50-perc" name="macroarea">
                    <option selected disabled>-- choose sub category --</option>
                    {% for model in list_subcategory%}
                    <option value="{{ model }}">{{model}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-8 col-md-offset-2 margin-top-15">
                <p><b>Price</b></p>
                <input class="form-control input-50-perc" type="number" name="price" placeholder="Insert price .." min="0">
            </div>
            <div class="col-md-8 col-md-offset-2 margin-top-15">
                <input class="btn btn-success" type="submit" value="Add">
                <input class="btn btn-danger" type="reset" value="Reset">
            </div>
        </form>
    </div>
  </div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4 class="text-success">AMOUNT OF MONTH</h4>
            <a class="btn btn-success btn-lg">{{ amount.total }}</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4 class="text-info">LAST COST</h4>
            <a class="btn btn-info btn-lg">{{ amount.total }}</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4 class="text-warning">AMOUNT AVAILABLE</h4>
            <a class="btn btn-warning btn-lg">{{ amount.totalVariable }}</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
